<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mi empresa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <link rel='stylesheet' href='/stylesheets/styledb.css' />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mi empresa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">M칩viles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Televisores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Ordenadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Dom칩tica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">Servicios</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="...">
      </form>
      <button class="btn btn-success my-2 my-sm-0" type="button" style="margin: 10px">Mi cuenta</button>
    </div>
  </nav>


  <table>
    <tr>
      <th>Usuario</th>
      <th>Correo electr칩nico</th>
      <th>Contrase침a</th>
    </tr>
    <% results.forEach(function(r) { %>
    <tr>
        <td><%= r.usuario %></td>
        <td><a href="mailto:"<%= r.correo %>><%= r.correo %></a></td>
        <td><%= r.contrasena %></td>
    </tr>
    <% }); %>
  </table>

</body>
</html>

