<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mi empresa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mi empresa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Móviles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Televisores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Ordenadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Domótica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">Servicios</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="...">
      </form>
      <button class="btn btn-success my-2 my-sm-0" type="button" style="margin: 10px">Mi cuenta</button>
    </div>
  </nav>





    <iframe class="center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3519.7212476909226!2d-15.477137084975938!3d28.094044482633358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc409443b007e229%3A0x1b6229b117ccfb18!2sC.C.%20Alisios!5e0!3m2!1ses!2ses!4v1603403697577!5m2!1ses!2ses" width="600" height="450" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; Mi empresa</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="mailto:miempresa@miempresa.com">Contacto</a></li>
        <li class="list-inline-item"><a href="#">Envíos </a></li>
        <li class="list-inline-item"><a href="#">Devoluciones</a></li>
        <li class="list-inline-item"><a href="/localizacion">Localización</a></li>
        <li class="list-inline-item"><a href="#">Términos y condiciones</a></li>
      </ul>
    </footer>

</body>
</html>
