/*Se fija el tamañod de las imágenes*/ 
.imagenesCarousel{
  width: 45%;
  height: 45%;
  display:block;
  margin:auto;
}

.center {
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
  width: 80%;
}








